<div>
    <form class="form-horizontal" data-ng-init="getClientes()">
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <legend>{{heading}}</legend>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <a class="btn btn-primary btn-large" href="cliente/add">Novo</a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 1%"></th>
                            <th style="width: 1%"></th>
                            <th style="width: 1%">Id</th>
                            <th>Nome</th>
                            <th style="width: 1%">Email</th>
                            <th style="width: 15%">Telefone 1</th>
                            <th style="width: 15%">Telefone 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="cliente in clientes | inicioPaginacao: (currentPage-1)*itemPerPage | limitTo: itemPerPage">
                            <td><a href="cliente/{{cliente.id}}/edit">Alterar</a></td>
                            <td><a href="" ng-click="openModalDelete(cliente)">Excluir</a></td>
                            <td>{{cliente.id}}</td>
                            <td><a href="cliente/{{cliente.id}}">{{cliente.nome}}</a></td>
                            <td>{{cliente.email}}</td>
                            <td>{{cliente.telefone1}}</td>
                            <td>{{cliente.telefone2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div style="text-align: center">
            <uib-pagination total-items="total" ng-show="(total > 0)" items-per-page="itemPerPage" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" boundary-links="true" class="pagination-sm" force-ellipses="true"></uib-pagination>
        </div>
    </form>
</div>