<div>

    <form class="form-horizontal" data-ng-init="getUsuario()">
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <legend>{{heading}}</legend>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Id</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="Id" ng-model="usuario.id" disabled>
            </div>
            <div class="col-sm-offset-3 col-sm-1">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="usuario.ativo"> Ativo
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Nome</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Nome" ng-model="usuario.nome">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Email" ng-model="usuario.email">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Senha</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" placeholder="Senha" ng-model="usuario.senha">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Confirmação de Senha</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" placeholder="Confirmação de Senha" ng-model="usuario.senhaConfirmacao">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 1%"></th>
                            <th>Perfis</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="perfil in perfisDisponiveis">
                            <td><input type="checkbox" ng-model="perfil.usuarioPossui" /></td>
                            <td>{{perfil.nome}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a href="usuario" class="btn btn-warning">Voltar</a>
                <a class="btn btn-primary btn-large" ng-click="putUsuario()">Salvar</a>
            </div>
        </div>
    </form>
</div>