<div>
    <form class="form-horizontal" data-ng-init="addProduto()">
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <legend>{{heading}}</legend>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Código</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Código" ng-model="produto.codigo">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Descrição</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Descrição" ng-model="produto.descricao">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Quantidade</label>
            <div class="col-sm-6">
                <input type="text" class="form-control integer" placeholder="Quantidade" ng-model="produto.quantidade">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Valor Compra</label>
            <div class="col-sm-6">
                <input type="text" class="form-control money valorCompra" placeholder="Valor Compra" ng-model="produto.valorCompra" ng-change="verificaValorCompraVazio()">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Margem Lucro</label>
            <div class="col-sm-6">
                <input type="text" class="form-control percent margemLucro" placeholder="Margem Lucro" ng-model="produto.margemLucro" maxlength="3" ng-change="verificaValorCompraVazio()">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Valor Venda</label>
            <div class="col-sm-6">
                <input type="text" class="form-control money valorVenda" placeholder="Valor Venda" ng-model="produto.valorVenda">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a href="produto" class="btn btn-warning">Voltar</a>
                <a class="btn btn-primary btn-large" ng-click="postProduto()">Salvar</a>
            </div>
        </div>
    </form>
</div>