@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="Giusticontainer">
    <div ng-view></div>
</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted">Fabi.LeBibi</p>
    </div>
</footer>
