<div>
    <form class="form-horizontal" data-ng-init="addPerfil()">
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <legend>{{heading}}</legend>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Id</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="Id" ng-model="perfil.id" disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Nome</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Nome" ng-model="perfil.nome">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Funcionalidades</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <ul style="list-style: none;">
                                    <li ng-repeat="funcionalidade in funcionalidadesDisponiveis" ng-include="'funcionalidadeTree'"></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a href="perfil" class="btn btn-warning">Voltar</a>
                <a class="btn btn-primary btn-large" ng-click="postPerfil()">Salvar</a>
            </div>
        </div>
    </form>
</div>

<script type="text/ng-template" id="funcionalidadeTree">
    <input type="checkbox" ng-model="funcionalidade.perfilPossui" ng-click="verificaCheckPaiFilhos(funcionalidade)" /> {{ funcionalidade.nome }}
    <ul ng-if="funcionalidade.funcionalidadesFilho" style="list-style: none;">
        <li ng-repeat="funcionalidade in funcionalidade.funcionalidadesFilho" ng-include="'funcionalidadeTree'">
        </li>
    </ul>
</script>