<div>
    <form class="form-horizontal" data-ng-init="addVenda()">
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <legend>{{heading}}</legend>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <uib-tabset>
                    <uib-tab index="0" heading="Cliente">
                        <div class="form-group"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Id</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" placeholder="Id" ng-model="cliente.id" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Nome</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Nome" ng-model="cliente.nome" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Email" ng-model="cliente.email" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Telefone 1</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control telefone" placeholder="Telefone" ng-model="cliente.telefone1" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Telefone 2</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control telefone" placeholder="Telefone" ng-model="cliente.telefone2" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <a href="cliente/{{cliente.id}}" class="btn btn-warning">Voltar</a>
                            </div>
                        </div>
</uib-tab>
                    <uib-tab index="1" heading="Produtos">
                        <div class="form-group"></div>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-10">
                                <button type="button" class="btn btn-primary btn-large" ng-click="openModalProdutosDisponiveis()">Incluir Produto</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-10">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width: 1%"></th>
                                            <th style="width: 1%">Codigo</th>
                                            <th>Descrição</th>
                                            <th style="width: 1%; text-align: right">Quantidade</th>
                                            <th style="width: 10%"></th>
                                            <th style="width: 20%; text-align: right">Valor Venda</th>
                                            <th style="width: 20%; text-align: right">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="vendaProduto in venda.vendaProduto">
                                            <td><a href="" ng-click="delProdutoSelecionadoVenda(vendaProduto)">Excluir</a></td>
                                            <td>{{vendaProduto.produto.codigo}}</td>
                                            <td>{{vendaProduto.produto.descricao}}</td>
                                            <td style="text-align: right">{{vendaProduto.quantidade}}</td>
                                            <td>
                                                <button class="btn btn-primary" type="button" ng-click="addProdutoSelecionado(vendaProduto)">+</button>
                                                <button class="btn btn-warning" type="button" ng-click="delProdutoSelecionado(vendaProduto)">-</button>
                                            </td>
                                            <td style="text-align: right">{{vendaProduto.valorVenda}}</td>
                                            <td style="text-align: right">{{calculaValorVendaTotal(vendaProduto.quantidade, vendaProduto.valorVenda)}}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td style="text-align: right"><strong ng-show="totalAPagar() > 0">{{totalAPagar()}}</strong></td>
                                        </tr>
                                        <tr ng-show="totalAPagar() > 0">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td style="text-align: right">Descontos</td>
                                            <td style="text-align: right"><input type="text" class="form-control money descontoValor" placeholder="Valor" ng-model="venda.descontoValor2" style="text-align: right"></td>
                                        </tr>
                                        <tr ng-show="totalAPagar() > 0">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>{{venda.descontoValor}}</td>
                                            <td style="text-align: right"><input type="text" class="form-control money descontoPorcentagem" placeholder="%" ng-model="venda.descontoPorcentagem" style="text-align: right"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="2" heading="Pagamento">
                        <div class="form-group"></div>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-10">
                                <button type="button" class="btn btn-primary btn-large" ng-click="openModalParcelasForm()">Incluir Parcela</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-10">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width: 1%"></th>
                                            <th>Tipo</th>
                                            <th style="width: 1%">Data</th>
                                            <th style="width: 1%">Feito</th>
                                            <th style="width: 1%; text-align: right">Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="vendaParcela in venda.vendaParcela">
                                            <td><a href="" ng-click="delParcela(vendaParcela)">Excluir</a></td>
                                            <td>{{vendaParcela.tipoPagamento}}</td>
                                            <td>{{vendaParcela.dataPagamento | date: 'dd/MM/yyyy'}}</td>
                                            <td><input type="checkbox" ng-model="vendaParcela.feito"></td>
                                            <td style="text-align: right">{{vendaParcela.valor}}</td>
                                        </tr>
                                        <tr ng-show="venda.vendaParcela.length > 0">
                                            <td></td>
                                            <td></td>
                                            <td ng-show="restanteAPagar() > 0" style="color: red">Falta pagar</td>
                                            <td ng-show="restanteAPagar() == 0">Falta pagar</td>
                                            <td ng-show="restanteAPagar() < 0" style="color: blue">Sobrando</td>
                                            <td></td>
                                            <td ng-show="restanteAPagar() >= 0" style="text-align: right; color: red"> <strong ng-show="restanteAPagar() > 0">{{restanteAPagar()}}</strong></td>
                                            <td ng-show="restanteAPagar() < 0" style="text-align: right; color: blue"><strong>{{(restanteAPagar() * -1).toFixed(2)}}</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="3" heading="Total">
                        <div class="form-group"></div>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-10">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>SubTotal</td>
                                            <td style="text-align: right"><strong ng-show="totalAPagar() > 0">{{totalAPagar()}}</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </form>

    <script type="text/ng-template" id="produtosDisponiveisContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Produtos Disponíveis</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 1%">Codigo</th>
                        <th>Descrição</th>
                        <th style="width: 1%; text-align: right">Disponíveis</th>
                        <th style="width: 1%; text-align: right">Quantidade</th>
                        <th style="width: 10%"></th>
                        <th style="width: 20%; text-align: right">Valor Venda</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="produto in produtos | inicioPaginacao: (currentPage-1)*itemPerPage | limitTo: itemPerPage">
                        <td>{{produto.codigo}}</td>
                        <td>{{produto.descricao}}</td>
                        <td style="text-align: right">{{produto.quantidade}}</td>
                        <td style="text-align: right">{{produto.quantidadeSelecionada}}</td>
                        <td>
                            <button class="btn btn-primary" type="button" ng-click="addProdutoSelecionado(produto)">+</button>
                            <button class="btn btn-warning" type="button" ng-click="delProdutoSelecionado(produto)">-</button>
                        </td>
                        <td style="text-align: right">{{produto.valorVenda}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="text-align: center">
            <uib-pagination total-items="total" ng-show="(total > 0)" items-per-page="itemPerPage" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" boundary-links="true" class="pagination-sm" force-ellipses="true"></uib-pagination>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="confirmar()">Confirmar</button>
            <button class="btn btn-warning" type="button" ng-click="cancelar()">Cancelar</button>
        </div>
    </script>
    <script type="text/ng-template" id="parcelasFormContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Nova Parcela</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <form class="form-horizontal" data-ng-init="addVenda()">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Quantidade</label>
                    <div class="col-sm-5">
                        <label style="margin-right: 10px">{{parcelaForm.quantidade}}</label>
                        <button class="btn btn-primary" type="button" ng-click="addParcelaQuantidade()">+</button>
                        <button class="btn btn-warning" type="button" ng-click="delParcelaQuantidade()">-</button>
                    </div>
                </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Tipo</label>
                        <div class="col-sm-5">
                             <select class="form-control" ng-model="tiposPagamento.selected" ng-options="o as o for o in tiposPagamento.options"></select>
                        </div>
                    </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Valor</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control money" placeholder="Valor" ng-model="parcelaForm.valor">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Data</label>
                    <div class="col-sm-5">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="parcelaForm.dataPagamento" is-open="popupDatePicker.opened" close-text="Close" show-button-bar="false" ng-readonly="true" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openDatePicker('today')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="confirmar()">Confirmar</button>
                    <button class="btn btn-warning" type="button" ng-click="cancelar()">Cancelar</button>
                </div>
</script>
</div>