<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="ConexaoBanco" value="Data Source=.\SQLEXPRESS;User Id=sa;Password=123456;Initial Catalog=FabiLeBibi" />
    <add key="intervalo" value="1" />
    <add key="smtpServer" value="localhost" />
    <add key="smtpPort" value="25" />
    <add key="nomeRemetente" value="Fabi.LeBibi" />
    <add key="emailRemetente" value="giusti.lucas@gmail.com" />
    <add key="utilizarCredencial" value="false" />
    <add key="credencialEmail" value="" />
    <add key="senhaCredencialEmail" value="" />
    <add key="caminhoArquivoEmailLogErro" value="C:\Fabi\LeBibi\Log\" />
    <add key="nomeArquivoEmailLogErro" value="Erro-{0}.txt" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>